.App {
  min-height: 100vh;
  background-color: #282c34;
  padding: 25px;
  color: white;
  padding: 50px;
}

.style {
  background-color:purple;
  float: left;
  padding: 20px;
  border-radius: 30px;
}

.App-header {
  text-align: center;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: azure;
  margin-left: 45px;
  font: italic;
}

.App-link {
  color: #09d3ac;
}

.renk {
  color:white;
}

.first-div{
  float: left;
}


